#table_product{
	width: 100%;
}
#table_product tr{
	height: 100px;
}
#table_product td{
	height: 100px;
		overflow-y: auto;
}
td>img{
	width: 100px;
	height: 100px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }

